<div id="<%= dom_id page %>">
  <p>
    <strong>Url:</strong>
    <%= page.url %>
  </p>

  <p>
    <strong>Check type:</strong>
    <%= page.check_type %>
  </p>

  <p>
    <strong>Selector:</strong>
    <%= page.selector %>
  </p>

  <p>
    <strong>Match text:</strong>
    <%= page.match_text %>
  </p>

</div>
